#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.d-flex{
  display: flex;
}
.flex-grow-1{
  flex:1;
}

/* Clean responsive layout */
@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}

